<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.example.vote.dao.ChoiceMapper">
    <select id="getAllChoice" resultType="Choice">
        select * from choice where choice_id=#{choiceId}
    </select>

    <insert id="addChoice">
        insert into choice(text) VALUES (#{text})
    </insert>
</mapper>